<div class="printable-images">
    <nav class="sub-nav-btns inspection">
        <ul class="print-menu">
            <li class="print-data"><a href="javascript:void(0);" onclick="window.print();">Printable Images</a></li>
            <!-- <li class="download-data"><a href="#">Download</a></li> -->
        </ul>
    </nav>
    <div class="info-block" style="width: 100%" ng-hide="general_images.length==0">
        <a class="green-button" ng-click="toggleGeneralImages()" style="display: block;">General Images</a>
        <div style="clear:both;"></div>
        <div id="imagesSection" style="display:none;">
            <section>
                <div ng-repeat="image in general_images" style="float:left;width:225px;margin:2px;">
                    <div class="left-component-info">
                        <div style="height: 20px"></div>
                        <div class="inner-info">
                            <div class="left-image">
                                <img ng-src="{{image.url}}" src="images/tmp-comp.png" class="">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </section>
        </div>
    </div>
    <br/>
</div>
