<article id="password-set" class="list-entry row animated slideInDown">
    <div class="customer-img two columns">
    </div>
    <div class="six columns">
        <h3>Password Reset</h3>
        <form name="passwordForm" ng-submit="handlePasswordReset()">
            <div>
                <label for="password">Password</label>
                <input name="password" id="password" maxlength="40" type="password" ng-model="password" />
            </div>
            <div>
                <label for="password-confirm">Confirm Your Password</label>
                <input name="password-confirm" id="password-confirm" maxlength="40" type="password" />
            </div>
            <div>
                <input id="submit" type="submit" value="Change Password" />
            </div>
        </form>
    </div>
    <div class="three columns">
    </div>
    <div class="detail one column">
    </div>
</article>
<script src="./scripts/ui/password-check.js"></script>