<article id="password-reset-request" class="list-entry row animated slideInDown">
    <div class="customer-img two columns">
    </div>
    <div class="six columns">
        <h3>Password Reset</h3>
        <p>Send us the email address you registered with and we will send you
        a temporary link that will allow you to reset your password.</p>
        <form name="password_reset_form" novalidate>
            <div>
                <label for="email">Email</label>
                <input type="email" id="reset_pass_email" name="reset_pass_email" ng-model="reset_pass_email" placeholder="your@email.com" ng-maxlength="200" ng-pattern="/^[A-Za-z0-9_.-]{2}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-].{1}[A-Za-z0-9_.-]+$/" required ng-focus>
                <div class="error-container ng-hide" ng-show="password_reset_form.reset_pass_email.$dirty && password_reset_form.reset_pass_email.$invalid && !password_reset_form.reset_pass_email.$focused">
                    <small class="error ng-hide" ng-show="password_reset_form.reset_pass_email.$error.required">Email is required.</small>
                    <small class="error ng-hide" ng-show="password_reset_form.reset_pass_email.$error.maxlength">Email cannot be longer than 200 characters.</small>
                    <small class="error ng-hide" ng-show="password_reset_form.reset_pass_email.$error.email">Email is invalid.</small>
                    <small class="error ng-hide" ng-show="password_reset_form.reset_pass_email.$error.pattern">Email is invalid.</small>
                </div>
            </div>
            <div style="padding: 10px 0">
                <a href="javascript:void(0)" class="green-button" ng-click="handlePasswordResetRequest()">Request Password Reset </a>
                <a href="#/" style="margin: 25px 0 0 30px;display: inline-block">Cancel</a>
            </div>
        </form>
        <div id="response-msg-wrapper" ng-bind-html="response_msg"></div>
    </div>
    <div class="three columns">
    </div>
    <div class="detail one column">
    </div>
</article>